body {  
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat; 
  transition: background-image 1s linear;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-attachment: fixed;
  background-position: center center;
  height: 125%;
  min-height: 100%;
  background-size: cover;
  @media (max-width: @iphone-screen) {
      background-attachment: scroll;
  }
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
}

html{
 height:100%;
 min-height:100%;
 }
body{
 min-height:100%;
 }

a {

  color: #3c3c3e;
}

button {
  cursor: pointer!important;
}

.td-inline{
  display: inline-flex;
}

.score-avg-info-weight{
    font-size: 15px;
    font-weight: 800;
    padding-left: 5px;
}

.well{
  background-color: #FFF9E6;
  border: 1px solid #ad77b1;
      border-top: 0;
}

.li-assignment {
  background-color: #FFF9E6;
  border: 1px solid #ad77b1;
}

.li-assignment.active, .li-assignment:hover, .li-assignment.active:hover {
    color: #fbd929!important;
    background: rgba(138, 65, 156, 0.701961);
    border: 1px solid #ad77b1;
}

.btn-assignment{
      color: #fbd929;
    background: rgba(138, 65, 156, 0.701961);
    border: 0;
    margin: 1px;
}

.form-assignment{
   background-color: #FFF9E6;
   border: 1px solid #ad77b1;
}

.glyphicon-assignment{
  position: initial;
  color: #fbd929;
  background: rgba(138, 65, 156, 0.701961);
  border: 0;
}

.panel-tab {
  border: 1px solid #912584!important;  
}

.body-eval {
  background-image: url("../images/background-image-eval.jpg");
  background-repeat: no-repeat;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-size: 100% 100%;
}

.height-fix{
  height: 100%;
}

.margin-nav {
  margin-top: 20px; 
}

.star-qv-2{
  width:50px;
  height:50px;
  background-image: url("../images/st/star.png");
  background-repeat:no-repeat;
  background-size:contain;
}

.score-qv-2{
  display:inline-flex;
  width:40px;
  height:50px;
  float:right;
}

.count-rating-qv2{
    font-size: 23px;
    margin-right: 5px;
}

.glyphicon {

}

.tutorial-type-0, .tutorial-type-1, .tutorial-type-2{  
    width: 65%;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.overflow-fix{
    overflow-x: scroll;
    height: 45%;
}

.tutorial-type-0{
  background-image: url("../images/bent-arrow-0.png");
  bottom: -5%;
  left: 0%;
}

.tutorial-type-1{
  background-image: url("../images/bent-arrow-1.png");
  left: 10%;
  height: 65px;
}

.tutorial-type-2{
  background-image: url("../images/bent-arrow-2.png");
  bottom: -33%;
  left: 0%;

}

.glyph-collapse {
  color: #E6E9ED;
}

.btn-collapse-right{
    float: right;
    margin-right: 10px;
    background-color: #FFF9E6;
    border: 2px solid #E6E9ED;
}

li {list-style-type: none;}

.not-active {
   pointer-events: none;
   cursor: default;
}

.glyphicon-eye {
    padding-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

.canvas-chart{
  padding-top: 10px;
  display:inline-block!important; 
  width:450px;
  height: 250px;
  vertical-align: middle;  
}

.canvas-chart-dem {
  padding-top: 10px;
  width:450px;
  height: 250px;
  vertical-align: middle;  
}

.legend-list{
  vertical-align: top;
 display:inline-block;
}

.legend-square{    
    margin: 9px;
    width: 50px;
    text-align: center;
    font-weight: 700;
    border: 1px solid;
    display: inline-block;
}

.header-date{
  display: inline;
}

.padding-bottom-date-input {
    padding-bottom: 20px;
}

.tooltip-bottom .tooltip-inner{
  font-color: #ffd500;
  width:200px;
}

.tooltip {
  font-color: #ffd500;
}

.tooltip-inner {
   white-space:pre-wrap;
    max-width: 200px;
    width: 200px;
    color: #ffd500;
    background-color:#912584    
}
.tooltip .tooltip-arrow {
      border-top-color: #912584;
}

.font-large{
    font-size: large;
}

.text-container{
    height: 450px;
    width: 100%;
    overflow-y: scroll;
}

.score-avg-info{
  font-size: 20px;
  font-weight: 800;
  padding-left: 20px;
}

.container-arrows {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.first-star {
  margin-left: 5px;
}

.star-image{
  margin-top: 35%; 
  width: 15px;
  height: 15px;
  background-image: url("../images/st/star.png");
  background-size: cover;
  display: inline-block;
 
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.container-qv-2 {
  width: 75%;
}

.glyphicon {

}

.bus-qv-2 {
  height: 70px!important
}

.bus-qv-2-1 {
background-image: url("../images/st/bus_left_qv1_1.png")!important;;
}

.bus-qv-2-2{
background-image: url("../images/st/bus_middle_qv1_2.png")!important;;
}

.bus-qv-2-3{
background-image: url("../images/st/bus_middle_qv1_3.png")!important;;
}

.bus-qv-2-4{
background-image: url("../images/st/bus_middle_qv1_4.png")!important;;
}

.bus-qv-2-5{
background-image: url("../images/st/bus_right_qv1_5.png")!important;;
}

.qv-2 {
  margin: 5px;
  border: 0.1em solid #ffd500;
  padding: 5px;
  height: 190px;
}

.elements-qv2{
  margin-top: 60px;
}    

.glow {
  -webkit-box-shadow:0 0 20px yellow inset; 
  -moz-box-shadow: 0 0 20px yellow inset; 
  box-shadow:0 0 20px yellow inset;
}

.p-padding {
  word-break: break-all;
  text-align: center;
  padding: 20px 10px;
  height: 50%;
}

.hide-overflow{
  overflow: hidden;
}

.bus-left {
  background-image:  url("../images/st/bus_swipe_left.png");  
  width: 149px;  
}

.bus-container{     
  display: inline-flex;
  padding-top: 20px;
}

.bus-middle {
  background-image:  url("../images/st/bus_swipe_middle.png");
  width: 100px;
}

.bus-middle-qv2 {
  background-image:  url("../images/st/bus_swipe_middle.png");
  width: 100px;
}

.bus-right {
  background-image:  url("../images/st/bus_swipe_right.png");  
  width: 212px;
}

.bus {
  float:left;
  border:solid 0px transparent;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container-draggable{
  width:55%;
}

.container-droppable{
  width: 120px;
  float: right;
  padding-bottom: 70px;
}


.demo-1 {
  float:left;
  position: relative;
  width: 125px;
  height: 50px;
  background-image: url("../images/st/bus_tempv2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 10;
  margin-top: 90%;
}

.demo-2 {   
    padding: 5px;   
    position: relative;
    width: 115px;
    height: 70px;
    background-image: url("../images/st/parking-singlev2.png");  
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

}


.panel-body{
  background-color: #FFF9E6;
}

.new-input{
  margin-right: 4px;
}

.custom-input-width {
  width: 90%!important;
}

.panel{
  margin-top: 10px;
  margin-bottom: 10px!important;
  border: 2px solid #912584;
  background-color: #fff9e6;
}

.margin-top-answer-detail-btn {
  margin-top: 15px;
}
.margin-answer-detail{
  margin: 3px;
}

.border-question-detail{
  border-color: #912584;
}

.table thead > tr > th { border-bottom: none; }

.form-control:focus {
  border-color: #ffd500;
  box-shadow: inset 0 1px 1px rgba(255, 213, 0, 1), 0 0 8px rgba(255, 213, 0, 1);
}

.margin-credits {
  margin-top: 20%;  
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
    padding: 8px;
}

.btn-checkbox, .btn-checkbox-dem {
    background-color: rgba(138, 65, 156, 0);
    border: 0.1em solid #ffd500;
    border-radius: 1px;
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer!important;
}

.btn-checkbox-dem {
    margin-left: 20px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffd500!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #ffd500!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffd500!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffd500!important;
}

.force-to-bottom {
  position:absolute;
  bottom: 5%;
  width: 100%;
}

.panel-heading{
  background-color: #912584!important;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}
  
.label-score-star-rating{
  padding-right:10px;
}

.container-chart{
    padding: 15px;
    margin: 10px;
    border: 0.1em solid #E6E9ED;
}

.table>tbody>tr>td{
  padding: 3px;
}

.table>thead>tr>th {
  text-align: left;
  padding-left: 0px;
}

.star-rating-padding-right{
  padding-right: 120px
}

.padding-form-login {
  padding: 15px;
}

.sidebar {
    position: fixed;
    top: 39px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;   
}

.logo-responsive {
    height: auto;
    width: auto;
    max-height: 65px;
    max-width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
}

.glyphicon-yellow{
  color: #ffd500;
}

.input-opaque {
 border: 1px solid #ffd500;
 color: #ffd500;
 background-color: rgba(138, 65, 156, 0.701961);
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 9px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  {
 font-size: 13px!important; 
 padding-left:  45px;
}
.right-addon input { padding-right: 45px; }

.text-center {
  text-align: center;
}


.text-bold {
    font-weight: 900!important;
}

.list-group-item {
    text-align: left!important;
}

.dual-list .list-group {
    margin-top: 8px;
}
.list-left li, .list-right li {
    cursor: pointer;
}
.list-arrows {
    padding-top: 100px;
}
.list-arrows button {
    margin-bottom: 20px;
}
 
tr.row-no-border-top td{
   border: 0!important;
}

.btn {
  border-color: #c96ebe!important; 
}

.btn-login {
  border-color: #ffd500!important; 
}

.btn:hover {
 background-color: #c96ebe!important;
 border-color: #c96ebe; 
}

.btn-info {
    color: #fff;
    background-color: #912584;
    border-color: #fff;
    border-radius: 4px;
}

.btn-submit-login {
    border-radius: 25px;
    cursor: pointer;
    font-weight: 400!important;
    color: #ffd500!important;
    font-size: 20px!important;
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 0.1em solid #ffd500;
    text-decoration: none!important;
    background: #912584;
    letter-spacing: 1px;
    text-align: center;
    float: left;
}

.border-yellow {
  border: 0.1em solid #ffd500;
  margin: 10px 3px 10px;
  
}



.background-light-yellow{
  background-color: #fff9e6!important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}

.menu-active-main-color {
    color: #fdd714!important;
    background-color: #912584;
    border-radius: 4px;
}

.invis {
  display:none;
}

.visible {
  display:block;
}

.hidden-st{
  visibility: hidden!important;
}

.txtarea-suggestions{
    color:#912584;
    margin: 10px;
    width: 90%;
}

.lbl-suggestions{
   margin: 10px;
}

.hover-li-enabled{
    color: #fdd714 !important;
    background-color: #912584;
    border-radius: 4px;
}

.li-main {
    border-bottom: 2px solid;
    border-bottom-color: #fdd714;
    margin-top: -15px;
}

.nav>li>a:hover {
    color: #fdd714;
    background-color: #c96ebe;    
    border-radius: 4px;
}

.nav>li>a:focus {
    color: #fdd714;
    background-color: #912584;
    border-radius: 4px;
}

 .nav>li>a:active{
   color: #fbd929;
   background: #912584;
 }

 .a-nav-active {
   color: #fbd929;
   background: #912584;
 }
 .header-color-yellow{
   color: #fbd929!important;
 }

 .button-qv-2{
    border-radius: 8px;
    cursor: pointer;  
    color: #ffd500!important;
    font-size: 20px!important; 
    margin-top: 35px;
    border: 0.1em solid #ffd500;    
    background: #912584;
    width:10%;    
    padding: 3px;
 }

 .header-qv2{
    font-size: 20px;
 }

 .button-plus{
   margin-left: 5px;
  float:right;
 }

 .button-minus{
  margin-right: 5px;
  float:left;
 }

.button-next, .btn-next-dem, .button-next-st {
    border-radius: 25px;
    cursor: pointer;
    font-weight: 400!important;
    color: #ffd500!important;
    font-size: 20px!important;
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 0.1em solid #ffd500;
    text-decoration: none!important;
    background: #912584;
    letter-spacing: 1px;
    text-align: center;
    float: right;
}

.button-next-st {
    margin-right: 0px;   
}
.button-submit-sug {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ct-fixed-height{
  height: 250px;
}

.container {
padding-left: 0px;
padding-right: 0px;
}
  
.header-score {
  border-bottom: 2px solid #E6E9ED;
}

.main-color {
	background-color: #912584;
	opacity: 1;
}

.main-text-header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.main-text {
	background-color: rgba(138, 65, 156, 0.701961);
	padding: 3px 20px 3px;
	border: 0.1em solid #FFF9E6;
	color: #ffd500!important;
	font-family: 'Ubuntu', sans-serif;
  border-radius: 4px;
  margin-top: 20px!important;
}

.main-text-padding{
  background-color: rgba(138, 65, 156, 0.701961);
  padding: 3px 30px 3px;  
  border: 0.1em solid #ffd500;
  color: #ffd500!important;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 4px;
  position: fixed;
  bottom: 0;
  z-index: 1;  
}

.main-text-dashboard{
  background-color:  #FFF9E6;
  padding: 0px 10px 3px;
  margin-top: 10px;
  color: #3c3c3e!important;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 4px;
}

.padding-nav {
  width: 80%;
  padding-top: 30px;
 }
 
.padding-bar-nav {
  padding-top: 40px;
 }

.padding-star-rating{
  padding-left: 10%!important;
}

.glyphicon-lg {
    font-size: 25px!important;
}

.question-header {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;   
}

.question-answer-option {
    font-weight: 300;
    line-height: 1.4;
    padding-left: 20px;
}

.login-controls-padding-top{
	padding-top: 20px;
}

.text-color-yellow{
	color: #ffd500!important;
}

.score-no-tutorial {
  height:0px;
}

.elements-no-tutorial{
  margin-top:30px;
}

.nav>li {
  padding-left: 10px;
}

.navbar-default {
  background-color: #912584;
  border-color: #c96ebe;
}
.navbar-default .navbar-brand {
  color: #fbd929;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fdd714;
}
.navbar-default .navbar-text {
  color: #fbd929;
}
.navbar-default .navbar-nav > li > a {
  color: #fbd929;
  padding-top: 30px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fdd714;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #912584;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fbd929;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fdd714;
  background-color: #c96ebe;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #c96ebe;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fdd714;
  background-color: #c96ebe;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fdd714;
  background-color: #c96ebe;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fdd714;
  background-color: #c96ebe;
}
.navbar-default .navbar-toggle {
  border-color: #c96ebe;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c96ebe;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbd929;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbd929;
}
.navbar-default .navbar-link {
  color: #fbd929;
}
.navbar-default .navbar-link:hover {
  color: #fdd714;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbd929;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdd714;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdd714;
    background-color: #c96ebe;
  }
}

