<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Thürauf Reisen Seitenfehler</title>

   
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="/stylesheets/style.css" rel="stylesheet">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 

  </head>
  
  <body>
    <div class="container">

    <div class="col-md-10 col-md-offset-1 container main-text text-center">
      <h1>SEITE NICHT GEFUNDEN!</h1>
      <h3>Die angeforderte URL konnte auf dem Server leider nicht gefunden werden. Falls Sie die URL manuell eingegeben haben, überprüfen Sie bitte die Schreibweise und versuchen Sie es erneut.</h3>
    </div>

</div>
<script src="/javascripts/libs/jquery-3.1.1.min.js"></script>
</body>
</html>