<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Thürauf Reisen</title>

   
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="/stylesheets/bootstrap-switch.css" rel="stylesheet">
   <link href="/stylesheets/style.css" rel="stylesheet">
   <link href="/stylesheets/animate.css" rel="stylesheet">



  </head>
  <body>  
  	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				Thürauf Reisen
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			

			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://www.thuerauf-reisen.de/" target="_blank">Homepage</a></li>
				<li class="dropdown ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Account
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="dropdown-header">SETTINGS</li>
							<li class=""><a href="#">Other Link</a></li>
							<li class=""><a href="#">Other Link</a></li>
							<li class=""><a href="#">Other Link</a></li>
							<li class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid main-container">
		<div class="col-md-2 sidebar main-text-dashboard">
			<ul class="nav nav-stacked">
				<li data-url="trip" class="menu-active-main-color"><a href="#">Reisen</a></li>
				<li data-url="questions"><a href="#">Fragen</a></li>
				<li data-url="assignment"><a href="#">Zuweisung</a></li>
				<li data-url="detail"><a href="#">Auswertungen</a></li>				
			</ul>
		</div>
		<div class="col-md-10 content">
            <div class="panel main-text-dashboard" id="dashboard-main-content">                
                <div class="panel-body" id="dashboard-content">
                    
                </div>
            </div>
		</div>
		
	</div>
	<script src="/javascripts/libs/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="/javascripts/libs/bootstrap.min.js"></script>  
  	<script src="/javascripts/libs/bootstrap-switch.js"></script>
	<script src="/javascripts/FeedbackSystem.js"></script>
    <script src="/javascripts/controller/MainController.js"></script>
    <script src="/javascripts/controller/EvalController.js"></script>
	<script>
		FeedbackSystem.initEval();
	</script>
</body>

</html>