<!DOCTYPE html>
<html lang="de" class="height-fix">
  <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <title>Thürauf Reisen</title>
   
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="/stylesheets/bootstrap-switch.css" rel="stylesheet">
   <link href="/stylesheets/style.css" rel="stylesheet">
   <link href="/stylesheets/animate.css" rel="stylesheet">
   <link href="/stylesheets/star-rating.min.css" rel="stylesheet">
   <link href="/stylesheets/bootstrap-datepicker.css" rel="stylesheet">
  </head>
  <body class="body-eval">
    <!--navigaition bar -->     
  	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-left"><img class="logo-responsive" src="../images/logo.png"></a>			
			</div>			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://www.thuerauf-reisen.de/" target="_blank">Homepage</a></li>
				</ul>
			</div>
		</div>
	</nav>  <!-- end of navigaition bar --> 

	<!--page container-->
	<div class="container-fluid main-container">
		<!--left nav bar-->
		<div class="col-md-2 sidebar main-text-dashboard padding-bar-nav">
			<ul class="nav nav-stacked">
				<li data-url="trip" class="menu-active-main-color"><a class="a-nav-active" href="#"><span class="glyphicon glyphicon-globe"></span>  Reisen</a></li>
				<li data-url="questions"><a href="#"><span class="glyphicon glyphicon-question-sign"></span>  Fragen</a></li>
				<li data-url="assignment"><a href="#"><span class="glyphicon glyphicon-list-alt"></span>  Fragebögen</a></li>
				<li data-url="score"><a href="#"><span class="glyphicon glyphicon-stats"></span>  Auswertungen</a></li>
				<hr/>
				<li data-url="users"><a href="#"><span class="glyphicon glyphicon-user"></span>  Benutzer</a></li>
				<li data-url="logout"><a href="#"><span class="glyphicon glyphicon-off"></span>  Logout</a></li>	
							
			</ul>
		</div><!--end of left nav bar-->

		<!--main container for evaluation components-->
		<div class="col-md-8 col-md-offset-2 content padding-nav">
            <div class="panel main-text-dashboard" id="dashboard-main-content">                
                <div class="panel-body" id="dashboard-content"></div>
            </div>
		</div><!--end ofmain container -->		
	</div><!--end of page container-->

	<!--scripts from external sources -->
    <script src="/javascripts/libs/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/libs/jquery-ui.min.js"></script>   
  	<script src="/javascripts/libs/bootstrap.min.js"></script>  
  	<script src="/javascripts/libs/bootstrap-switch.js"></script>
  	<script src="/javascripts/libs/Chart.min.js"></script>
  	<script src="/javascripts/libs/star-rating.min.js"></script>
  	<script src="/javascripts/libs/bootstrap-datepicker.js"></script>
  	<script src="/javascripts/libs/bootstrap-datepicker.de.js" charset="UTF-8"></script>
   
    <!--native scripts-->
	<script src="/javascripts/FeedbackSystem.js"></script>
    <script src="/javascripts/controller/MainController.js"></script>
    <script src="/javascripts/controller/EvalController.js"></script>
    <script src="/javascripts/views/EvalView.js"></script>
    
	<script>
		FeedbackSystem.initEval();
	</script>
</body>

</html>