<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Thürauf Reisen</title>

   
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="/stylesheets/style.css" rel="stylesheet">
   <link href="/stylesheets/animate.css" rel="stylesheet">
   <link href="/stylesheets/star-rating.min.css" rel="stylesheet">


  </head>
  <body>   
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">          
         <a href="#" class="navbar-left"><img class="logo-responsive" src="../images/logo.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>           
            <li><a href="#contact">Kontakt</a></li>
            <li><a href="/eval/">Anmelden</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

   <div class="container hide-overflow" id="survey-container">
   </div>
      <div class="row col-md-12 main-text-padding" id="container-info">
        <h1 class="text-center text-bold">Bewerten Sie jetzt Ihre Thürauf Reise!</h1>
        </br>
        <p class="lead text-center">Wir bieten Ihnen die Möglichkeit Ihre Busreise mit einem kurzen Fragebogen zu bewerten. So können wir unser Angebot noch besser auf Ihre Wünsche und Bedürfnisse anpassen.</p>
      </div>

   
    <div class="col-md-3 col-md-offset-4 container login-controls-padding-top" id="main-container">

      <form class="form padding-form-login" id="container-login-controls">
        <div class="form-group">        
           <div class="inner-addon left-addon">
            <span class="glyphicon glyphicon-globe glyphicon-yellow glyphicon-lg"></span>
           
              <input type="text" class="form-control input-opaque input-lg" id="InputTravelId" placeholder="Bitte geben Sie Ihre Reise-ID ein..."  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Bitte geben Sie Ihre Reise-ID ein...'"/>
            
           </div> 
      </div>
       <div class="text-center">  
        <button type="submit" class="btn btn-default input-opaque btn-login btn-lg" id="button-submit">Weiter</button>
       </div>
      </form>

    </div>
    
    <script src="/javascripts/libs/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/libs/jquery-ui.min.js"></script>   
    <script src="/javascripts/libs/star-rating.min.js"></script>
    <script src="/javascripts/libs/jquery.ui.touch-punch.min.js"></script>
    
   
    <script src="/javascripts/FeedbackSystem.js"></script>
    <script src="/javascripts/controller/MainController.js"></script>
    <script src="/javascripts/controller/LoginController.js"></script>
    <script src="/javascripts/controller/SurveyController.js"></script>
    <script src="/javascripts/controller/SurveySTController.js"></script>   
    <script>
      FeedbackSystem.init();
    </script>   
    
  </body>
</html>