<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Thürauf Reisen</title>

   
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body>   
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thürauf Reisen Umfrage</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>           
            <li><a href="#contact">Kontakt</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template main-text">
        <h1>Wilkommen bei der Umfrage zu Ihrer Thürauf Reise!</h1>
        <p class="lead">Die Thürauf Reisen GmbH bietet Ihnen mit diesem innovativem und umfangreichem<br> Feedback-System die Möglichkeit Ihre Busreise zu bewerten.</p>
      </div>

    </div>
    <div class="container login-controls-padding-top" id="main-container">

      <form class="form">
        <div class="form-group">
           <label for="InputTravelId" class="text-color-yellow">Reise-ID</label>
           <input type="text" class="form-control" id="InputTravelId" placeholder="Bitte geben Sie die Reise-ID ein...">
      </div>
        <div class="form-group">
             <label for="InputTravelPass" class="text-color-yellow">Passwort</label>
             <input type="text" class="form-control" id="InputTravelPass" placeholder="Bitte geben Sie das Passwort ein...">
        </div>
        <button type="submit" class="btn btn-default" id="button-submit">Weiter</button>
      </form>

    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/libs/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

     <!--JS-Files-->
    <script src="/javascripts/FeedbackSystem.js"></script>
    <script src="/javascripts/controller/MainController.js"></script>
    <script src="/javascripts/controller/LoginController.js"></script>
    <script src="/javascripts/controller/EvalController.js"></script>
    <script>
      FeedbackSystem.init();
    </script>   
    
  </body>
</html>